<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-8 col-12-medium">

                <section>
                    <h2>Поллезные ссылки</h2>
                    <div>
                        <div class="row">
                            <div class="col-3 col-6-medium col-12-small">
                                <ul class="link-list">
                                    <li><a href="#">полезная ссылка</a></li>
                                    <li><a href="#">полезная ссылка</a></li>
                                    <li><a href="#">полезная ссылка</a></li>
                                    <li><a href="#">полезная ссылка</a></li>
                                    <li><a href="#">полезная ссылка</a></li>
                                </ul>
                            </div>
                            <div class="col-3 col-6-medium col-12-small">
                                <ul class="link-list">
                                    <li><a href="#">полезная ссылка</a></li>
                                    <li><a href="#">полезная ссылка</a></li>
                                    <li><a href="#">полезная ссылка</a></li>
                                    <li><a href="#">полезная ссылка</a></li>
                                    <li><a href="#">полезная ссылка</a></li>
                                </ul>
                            </div>
                            <div class="col-3 col-6-medium col-12-small">
                                <ul class="link-list">
                                    <li><a href="#">полезная ссылка</a></li>
                                    <li><a href="#">полезная ссылка</a></li>
                                    <li><a href="#">полезная ссылка</a></li>
                                    <li><a href="#">полезная ссылка</a></li>
                                    <li><a href="#">полезная ссылка</a></li>
                                </ul>
                            </div>
                            <div class="col-3 col-6-medium col-12-small">
                                <ul class="link-list">
                                    <li><a href="#">полезная ссылка</a></li>
                                    <li><a href="#">полезная ссылка</a></li>
                                    <li><a href="#">полезная ссылка</a></li>
                                    <li><a href="#">полезная ссылка</a></li>
                                    <li><a href="#">полезная ссылка</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-4 col-12-medium">

                <section>
                    <h2>Кое что интересное</h2>
                    <p>
                        Здесь должно быть написано что-то интересное. Здесь должно быть написано что-то интересное.
                        Здесь должно быть написано что-то интересное. Здесь должно быть написано что-то интересное.
                        Здесь должно быть написано что-то интересное. Здесь должно быть написано что-то интересное.
                    </p>
                    <footer class="controls">
                        <a href="#" class="button">Нажмите, чтобы узнать продолжение....</a>
                    </footer>
                </section>

            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <div id="copyright">
                    Сайт разработал Гнетнев Евгений "Инкубатор2020"
                </div>

            </div>
        </div>
    </div>
</div>