<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <header id="header">
                    <h1><a href="index.html" id="logo">ASP.NET First App</a></h1>
                    <nav id="nav">
                        <a href="index.html">something</a>
                        <a href="twocolumn1.html">something2</a>
                        <a href="twocolumn2.html" class="current-page-item">HomePage</a>
                        <a href="onecolumn.html">something3</a>
                        <a href="threecolumn.html">something4</a>
                    </nav>
                </header>

            </div>
        </div>
    </div>
</div>